.page-wrapper{
    background-image: url("../../img/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: auto;
}

.page-wrapper--hidden{
    display: none;
}