.product-main__notification{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 350px;


    transform: translate(-10px, 0px);
}

@media all and (max-width: 1000px) {
    .product-main__notification{
        width: 250px;
    }
}