.ingredients__names-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ingredients__names-item h3{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;

    font-size: 18px;
    font-weight: bold;
}

.ingredients__names-item--inverted{
    color: #78BE20;
    cursor: pointer;
}

.ingredients__names-item img{
    max-width: 24px;
    max-height: 24px;
}

@media all and (max-width: 1450px) and (min-width: 1000px){
    .ingredients__names-item h3{
        font-size: 12px;
    }

    .ingredients__names-item img{
        max-width: 20px;
        max-height: 20px;
    }
}

@media all and (max-width: 300px){
    .ingredients__names-item h3{
        font-size: 15px;
    }

    .ingredients__names-item img{
        max-width: 20px;
        max-height: 20px;
    }
}