.ingredients__names-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ingredients__names-item h3{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;

    font-size: 18px;
    font-weight: bold;
}

.ingredients__names-item--inverted{
    color: #78BE20;
    cursor: pointer;
}

.ingredients__names-item img{
    max-width: 24px;
    max-height: 24px;
}