.links__logo-content{
    margin-bottom: 32px;
}

@media all and (min-width: 2500px) {
    .links__logo-content{
        width: 300px;
    }

    .links__logo-content img{
        width: 300px;
    }
}

@media all and (max-width: 1000px) {
    .links__logo-content{
        width: 150px;
    }

    .links__logo-content img{
        width: 150px;
    }
}