.ingredients__numbers-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredients__numbers-item img{
    filter: ;
}

.ingredients__numbers-item p{
    /*color: white;*/
    font-size: 30px;
    font-weight: bold;
    margin: 0;

    transform: translate(0, -50px);
}