.product-main__comment{
    margin-bottom: 30px;
    margin-left: 100px;

    padding-right: 50px;
    max-height: 200px;
}

.product-main__comment p{
    font-size: 22px;
}

@media all and (max-width: 1000px){
    .product-main__comment{
        margin-left: 0;
        padding-right: 0;
        width: 200px;
    }

    .product-main__comment p{
        font-size: 14px;
    }
}

@media all and (min-width: 2500px){
    .product-main__comment p{
        font-size: 28px;
    }
}