.product-main__product-image{
    margin-left: 400px;
    margin-top: 30px;
    transition-duration: 0.3s;
    width: 500px;
}

.product-main__product-image:hover{
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
    transform: scale(1.05, 1.05);
    transition-duration: 0.3s;
    cursor: pointer;
}

.blurred{
    filter: blur(4px);
}