.product-main__product-image{
    margin-left: 20%;
    margin-top: 80px;
    transition-duration: 0.3s;
    min-width: 300px;
    max-width: 300px;

}

.product-main__product-image:hover{
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
    transform: scale(1.05, 1.05);
    transition-duration: 0.3s;
    cursor: pointer;
}

.blurred{
    filter: blur(4px);
}

@media all and (max-width: 1000px){
    .product-main__product-image{
        margin-left: 0;
        margin-top: 0;
        transition-duration: 0.3s;
        min-width: 160px;
        max-width: 160px;
        transform: translate(0, -8%);
    }
}

@media all and (min-width: 2500px){
    .product-main__product-image{
        min-width: 420px;
        max-width: 420px;
    }
}

@media all and (max-width: 1450px) and (min-width: 1000px) {
    .product-main__product-image{
        min-width: 240px;
        max-width: 240px;
    }
}