.product-main__can-lid{
    transform: translate(1px, 80%);
}

.product-main__can-lid--hanged{
    transform: translate(0px, 0px);
    transition-duration: 1s;
}

.product-main__can-lid--opened{
    transform: rotate(-10deg) translate(0px, -40px);
    transition-duration: 1s;
}

.product-main__can-lid:hover{
   /*transform: rotate(-30deg) translate(37px, -40px);
   transition-duration: 2s;*/
}

.product-main__can-lid img{
    width: 100%;
}