.ingredients{
    min-height: 100%;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


    background-image: url("../../img/ingredients_background.png");
    background-repeat: no-repeat;
    background-size: cover;

    overflow-y: hidden;

}

.ingredients--hidden{
    display: none;
}

@media all and (max-width: 1000px) {
    .ingredients{
        align-items: flex-start;
        height: 900px;
    }
}