.ingredients{
    max-height: 1000px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-image: url("../../img/ingredients_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: border-box;
    background-position: center;
}

.ingredients--hidden{
    display: none;
}