.ingredients__hint{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    margin-top: 80px;
    margin-bottom: 25px;
}

.ingredients__hint img{
    transform: translate(-60px, 37px);
}

@media all and (max-width: 1450px) and (min-width: 1000px){
    .ingredients__hint{
        margin-top: 40px;
    }

    .ingredients__hint img{
        width: 100px;
        transform: translate(-60px, 32px);
    }
}

@media all and (max-width: 1000px){

}