.presentation__to-ingredients{
    color: white;
    margin: 0 auto 0;
    width: 700px;
    transition-duration: 0.3s;
}

.presentation__to-ingredients:hover{
    -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.2));
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.5));
    transition-duration: 0.3s;
    cursor: pointer;
}

.presentation__to-ingredients h2{
    font-size: 50px;
    margin-top: 10px;
}

@media all and (max-width: 900px) {
    .presentation__to-ingredients{
        width: 80%;
    }

    .presentation__to-ingredients h2{
        font-size: 20px;
        margin-top: 10px;
    }

    @media all and (min-aspect-ratio: 6/5){
        .presentation__to-ingredients{
            width: 80%;
        }

        .presentation__to-ingredients h2{
            font-size: 20px;
            margin-top: 10px;
        }
    }
}

@media all and (min-width: 900px) and (max-width: 1500px){
    .presentation__to-ingredients{
        color: white;
        width: 500px;
        transition-duration: 0.3s;
    }

    .presentation__to-ingredients h2{
        font-size: 35px;
        margin-top: 10px;
    }
}

@media all and (min-width: 2000px) {
    .presentation__to-ingredients{
        width: 100%;
    }

    .presentation__to-ingredients h2{
        font-size: 70px;
        margin-top: 20px;
    }
}