.presentation__socials{
    margin: 80px auto 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

@media all and (max-width: 900px) {
    .presentation__socials{
        margin: 40px auto 0;
        width: 250px;
    }
}

@media all and (min-width: 2000px){
    .presentation__socials{
        margin: 120px auto 0;
        width: 750px;
    }
}