.ingredients__hint-text{
    color: #78BE20;
    font-size: 18px;

    margin-top: 0;
    width: 250px;
}

@media all and (max-width: 1450px) and (min-width: 1000px) {
    .ingredients__hint-text{
        font-size: 15px;
        width: 210px;
    }

}

@media all and (max-width: 1450px){
    .ingredients__hint-text{
        font-size: 18px;
        width: 250px;
        margin-left: 5px;
    }
}

