.ingredients-main{
    margin: 0 auto 35px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    max-width: 1840px;
}

@media all and (max-width: 1000px){
    .ingredients-main{
        flex-direction: column;
    }

}