.product-main__title{
    margin-left: 100px;
    padding-right: 20px;
}

.product-main__title h1{
    font-size: 48px;
}

@media all and (max-width: 1000px){
    .product-main__title{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .product-main__title h1{
        font-size: 20px;
        margin-bottom: 0;
    }
}

@media all and (min-width: 2500px){
    .product-main__title h1{
        font-size: 64px;
        margin-bottom: 0;
    }
}