.product-main{
    margin: 0 auto 5px;
    max-width: 1400px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 1000px) {
    .product-main{
        flex-direction: column-reverse;
    }
}

@media all and (max-width: 1400px) and (min-width: 1000px) and (max-aspect-ratio: 5/6) {
    .product-main{
        margin-top: 200px;
    }
}