.product-main__arrow{
    transform: scale(0.8);
    width: 100px;
    margin-right: 20px;
}

.product-main__arrow img{
    /*width: 100px;*/
}

@media all and (max-width: 1000px) {
    .product-main__arrow{
        transform: scale(0.5, -0.5) rotate(45deg) translate(-20%, -130%);
        width: 70px;
    }

    .product-main__arrow img{
        width: 120px;
    }
}
