.ingredients__logo{

}

.ingredients__logo img{
    width: 160px;
}

@media all and (max-width: 1450px) and (min-width: 1000px){
    .ingredients__logo img{
        width: 120px;
    }
}

@media all and (max-width: 1000px){
    .ingredients__logo{
        margin-left: 5px;
    }

    .ingredients__logo img{
        width: 130px;
    }
}